body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    background-color: #eef2f3;
    color: #333;
    overflow-x: hidden;
}


header {
    background: #111827; /* Dark blue-gray */
    color: #fff;
    padding: 0.0001rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #60a5fa; /* Light blue accent */
    text-decoration: none;
}

nav {
    background: #111827; /* Dark blue-gray */
    color: #fff;
    padding: 0.00001rem 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    gap: 1.5rem;
}

nav a {
    color: #d1d5db; /* Light gray */
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    transition: all 0.3s ease;
}

nav a:hover, nav a.active {
    color: #60a5fa; /* Light blue on hover */
    border-bottom: 2px solid #60a5fa;
}


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    text-align: center;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.content {
    max-width: 600px;
    text-align: center;
}

.content p {
    font-size: 18px;
    margin-top: 10px;
}

footer {
    background: #1e3c72;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

@media (max-width: 768px) {
    nav {
        flex-direction: column;
        gap: 1rem;
    }
} 

